<p id="notice"><%= notice %></p>

<h1><%= @user.username %></h1>

<% if @user.ratings.empty? %>
  <p>has not rated any wines</p>
<% else %>
  <p>
    has made <%= pluralize(@user.ratings.count, 'rating') %>, average <%= @user.average_rating %>
  </p> 
  <p>Favourite wine: <%= @user.favourite_wine.name %></p>
  <p>Favourite winery: <%= @user.favourite_winery.name %></p>
  <p>Preferred style: <%= @user.favourite_style %></p>
<% end %>

<p>member of</p>

<ul>
    <% @user.wine_clubs.each do |wine_club| %>
        <li>
            <%= link_to wine_club.name, wine_club_path(wine_club) %>
        </li>
    <% end %>
</ul>

<h2>Ratings</h2>

<ul>
    <% @user.ratings.each do |rating| %>
        <li>
            <%= rating %>
                <% if @user == current_user %>
                    <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
        </li>
    <% end %>
</ul>

<% if @user == current_user %>
    <%= link_to 'Edit', edit_user_path(@user) %> | 
    <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> | 
<% end %>
<%= link_to 'Back', users_path %>
