<p id="notice"></p>

<h1>
    <%= @user.username %>
    <% if @user.closed %>
        <span class="badge badge-info">account closed</span>
    <% end %>
</h1>

<% if not current_user.nil? %>
    <% if current_user.admin %>
        <% if @user.closed %>
            <%= link_to "open account", toggle_closed_user_path(@user.id), method: :post, class: "btn btn-success" %>
        <% else %>
            <%= link_to "close account", toggle_closed_user_path(@user.id), method: :post, class: "btn btn-danger" %>
        <% end %>
    <% end %>
<% end %>

<% if @user.ratings.empty? %>
  <p>has not rated any wines</p>
<% else %>
  <p>
    has made <%= pluralize(@user.ratings.count, 'rating') %>, average <%= @user.average_rating %>
  </p> 
  <p>Favourite wine: <%= @user.favourite_wine.name %></p>
  <p>Favourite winery: <%= @user.favourite_winery.name %></p>
  <p>Preferred style: <%= @user.favourite_style.name %></p>
<% end %>

<p>Member of</p>

<ul>
    <% @user.wine_clubs.each do |wine_club| %>
        <li>
            <%= link_to wine_club.name, wine_club_path(wine_club) %>
        </li>
    <% end %>
</ul>

<p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseRatings" aria-expanded="false" aria-controls="collapseRatings">
        Ratings
    </button>

    <div class="collapse" id="collapseRatings">
        <div class ="card card-body">
            <ul>
                <% @user.ratings.each do |rating| %>
                    <li>
                        <%= rating %>
                            <% if @user == current_user %>
                                <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
                            <% end %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</p>

<% if @user == current_user %>
    <%= link_to 'Edit', edit_user_path(@user), class:"btn btn-secondary" %> 
    <%= link_to 'Destroy', @user, class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %> 
<% end %>
<%= link_to 'Back', users_path, class:"btn btn-secondary" %>
