<%= form_with(model: wine_club, local: true) do |form| %>
  <% if wine_club.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wine_club.errors.count, "error") %> prohibited this wine_club from being saved:</h2>

      <ul>
      <% wine_club.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form>
    <div class="form-group", class="field">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group", class="field">
      <%= form.label :founded %>
      <%= form.number_field :founded, class: "form-control" %>
    </div>
    <div class="form-group", class="field">
      <%= form.label :city %>
      <%= form.text_field :city, class: "form-control"%>
    </div>
    <div class="actions">
      <%= form.submit class:"btn btn-primary" %>
    </div>
  </form>

<% end %>
