<p id="notice"></p>

<h1>Wineries</h1>

<h2>Active</h2>

<p>Number of active wineries: <%= @active_wineries.count %> </p>

<%= render 'list', wineries: @active_wineries %>

<h2>Retired</h2>

<p>Number of retired wineries: <%= @retired_wineries.count %> </p>

<%= render 'list', wineries: @retired_wineries %>

<p>
  <%= link_to('New Winery', new_winery_path, class: "btn btn-primary") if current_user %> 
  <%= link_to 'List of Wines', wines_path, class: "btn btn-secondary" %>
</p>
