<p id="notice"></p>

<% cache @winery do %>

<h2>
  <%= @winery.name %>
  <% if not @winery.active %>
    <span class="badge badge-info">retired</span>
  <% end %>  
</h2>

<p>Established in <%= @winery.year %></p>

<p> Number of wines: <%= @winery.wines.count %></p>

<ul>
  <% @winery.wines.each do |wine| %>
    <li>
      <%= link_to wine.name, wine %>
    </li>
  <% end %>
</ul>

<p>
<% if @winery.ratings.empty? %>
 This winery has not yet been rated!
<% else %>
 Has <%= pluralize(@winery.ratings.count, 'rating') %>, average <%= @winery.average_rating %>
<% end %>
</p>

<% end %>

<p><%= link_to "change activity", toggle_activity_winery_path(@winery.id), method: :post, class: "btn btn-primary" %></p>

<p><%= link_to('Edit', edit_winery_path(@winery), class:"btn btn-secondary") if current_user %> 
<%= link_to('Destroy', @winery, class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }) if current_user %> 
<%= link_to 'Back', wineries_path, class:"btn btn-secondary" %></p>
