<p id="notice"><%= notice %></p>

<h2><%= @winery.name %></h2>

<p>Established in <%= @winery.year %></p>

<p> Number of wines: <%= @winery.wines.count %></p>


<ul>
  <% @winery.wines.each do |wine| %>
    <li>
      <%= link_to wine.name, wine %>
    </li>
  <% end %>
</ul>

<p>
<% if @winery.ratings.empty? %>
 This winery has not yet been rated!
<% else %>
 Has <%= pluralize(@winery.ratings.count, 'rating') %>, average <%= @winery.average_rating %>
<% end %>
</p>

<p><%= link_to('Edit', edit_winery_path(@winery)) if current_user %></p>
<p><%= link_to('Destroy', @winery, method: :delete, data: { confirm: 'Are you sure?' }) if current_user %></p>
<p><%= link_to 'Back', wineries_path %></p>
