<p id="notice"></p>

<h1>Wines</h1>

<% cache "winelist-#{@order}", skip_digest: true do %>

<p>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= link_to 'Name', wines_path(order:"name") %></th>
      <th><%= link_to 'Style', wines_path(order:"style") %></th>
      <th><%= link_to 'Winery', wines_path(order:"winery") %></th>
    </tr>
  </thead>

  <tbody>
    <% @wines.each do |wine| %>
      <tr>
        <td><%= link_to wine.name, wine %></td>
        <td><%= link_to wine.style.name, wine.style %></td>
        <td><%= link_to wine.winery.name, wine.winery %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>

</p>

<p><%= link_to('New wine', new_wine_path) if current_user %></p>

<p><%= link_to 'List of wineries', wineries_path %> </p>
