<p id="notice"></p>

<h2><%= @wine.name %></h2>

<p>
  <strong>Style:</strong>
  <%= link_to @wine.style.name, @wine.style %>
</p>

<p>
  <strong>Winery:</strong>
  <%= link_to @wine.winery.name, @wine.winery %>
</p>

<p>
<% if @wine.ratings.empty? %>
 This wine has not yet been rated!
<% else %>
 Has <%= pluralize(@wine.ratings.count, 'rating') %>, average <%= round(@wine.average_rating) %>
<% end %>
</p>

<% if current_user %>
  <h4>give a rating:</h4>

  <p>
  <%= form_for(@rating) do |f| %>
    <%= f.hidden_field :wine_id %>
    score: <%= f.number_field :score %>
    <%= f.submit class:"btn btn-primary" %>
  </p>  
<% end %>


<p><%= link_to('Edit', edit_wine_path(@wine), class:"btn btn-secondary") if current_user %> 
<%= link_to('Destroy', @wine, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }) if current_user %> 
<%= link_to 'Back', wines_path, class:"btn btn-secondary" %></p>
<% end %>
