<!DOCTYPE html>
<html>
  <head>
    <title>Ratewine</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  

    <div class="navibar">
      <%= link_to 'Wineries', wineries_path %> |
      <%= link_to 'Wines', wines_path %> |
      <%= link_to 'Ratings', ratings_path %>  |
      <%= link_to 'Users', users_path %> |
      <%= link_to 'Clubs', wine_clubs_path %>  +

      <% if not current_user.nil? %>
        <%= link_to current_user.username, user_path(current_user.id) %> |
        <%= link_to 'Rate a wine', new_rating_path %> |
        <%= link_to 'Join a club', new_membership_path %> |
        <%= link_to 'Sign out', signout_path, method: :delete %> 
      <% else %>
        <%= link_to 'Sign in', signin_path %> |
        <%= link_to 'Sign up', signup_path %>
        
      <% end %>
      
    </div>
    
    <%= yield %>

  </body>
</html>
